<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}/>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="cabecera">
    {% block cabecera %}
        <p>
      <IMG SRC={{url_for('static', filename='flask.png')}} width='250' height='140'>
    </p>
    {% endblock %}
    </div>
    <div class="barra_lateral">
    {% block barra_lateral %}
    <p>
      <h3>Barra de menús</h3>
      <ul>
          <li><a href="/formulario" >Registro</a></li>
          <li><a href="/login" >Login</a></li>
          <li><a href="/logout" >Logout</a></li>
          <li><a href="/visualizar" >Visualizar</a></li>
          <li><a href="/" >Inicio</a></li>
      </ul>
    </p>
    </div>
    {% endblock %}

    {% block barra_derecha %}
    <div class= "barra_derecha">
    <p>
      <h3>Historial</h3>
      <ul>
          <li><a href="/formulario" >Primer pag</a></li>
          <li><a href="/login" >Seg pag</a></li>
          <li><a href="/logout" >ter pag</a></li>
          <li><a href="/visualizar" >cuart pag</a></li>
      </ul>
    </p>
    </div>
    {% endblock %}
    <div class="principal">
        {% block principal %}
        {% endblock %}
    </div>
    <div class="pie">
        {% block pie %}
        {% endblock %}
    </div>
</body>
</html>
