<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Mi primera página con estilo</title>

      {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
      {% endblock %}
</head>

<body>

<!-- Menú de navegación del sitio -->
<ul class="navbar">
  <li><a href="/P2">Práctica 2</a>
  <li><a href="/P3">Práctica 3</a>
</ul>

<!-- Contenido principal -->
<h1>Mi primera página con estilo</h1>

<p>¡Bienvenido a mi primera página con estilo!

<p>Puedes navegar por mis distintas prácticas con el menú de la izquierda.

<p>Debería haber más cosas aquí, pero todavía no sé
qué poner.

<!-- Firma y fecha de la página, ¡sólo por cortesía! -->
<address>Creada el un día cualquiera de 2015<br>
  por mí mismo con ayuda de internet.</address>

</body>
</html>
